# http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = "utf8"
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.scss]
indent_size = 4

[*.coffee]
indent_style = space
indent_size = 4